<html>
<head></head>
<body>
<div>
    <h1>Hello</h1>
    <ul>
    <li class="nav-item">
        <a class="nav-link" href="/report" {{ loggedIn }} {{ status }}>Izvestaj</a>
    </li>
    </ul>
</div>
</body>
</html>