<div class="container py-5">
    <div class="row mb-4">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="display-6">Podesi svoje podatke</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card ">
                <div class="card-header">
                    <div class="tab-content">
                        <div id="credit-card" class="tab-pane fade show active pt-3">
                            <form role="form" method="post">
                                <div class="form-group"> <input type="text" name="ime" placeholder="Ime" required class="form-control" value="{{ ime }}"> </div>

                                <div class="input-group"> <input type="text" name="prezime" placeholder="Prezime" class="form-control " required value="{{ prezime }}">
                                </div> <br>
                                <div class="card-footer"> <button type="submit" class="subscribe btn btn-primary btn-block shadow-sm"> Potvrdi </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>